:root{
    --mainKor-font: 'Danjo-bold-Regular';
    --mainEng-font: "Lora", serif;
    --sign-font: "Pinyon Script", cursive;

    --white: #fff;
    --black: #000;
    --black100:#333;
    --red: #ff0000;

    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-synthesis: none;
}

body{
    background: var(--black);
}